<a href="https://colab.research.google.com/github/nileshmalode11/Pandas_Library_practice/blob/main/Pandas_loc_and_iloc_method_lecture_C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#read csv file
data=pd.read_csv("/content/drive/MyDrive/pandas database/alcohol-consumption.csv",index_col="country")
#display csv file
print(data)

                total_consumption  recorded_consumption  \
country
Estonia                      16.9                  15.8
Lithuania                    15.0                  13.8
Czech Republic               14.3                  12.4
Seychelles                   13.8                  12.4
Germany                      13.4                  11.3
...                           ...                   ...
Bangladesh                    0.0                   0.0
Kuwait                        0.0                   0.0
Libya                         0.0                   0.0
Mauritania                    0.0                   0.0
Somalia                       0.0                   0.0

                unrecorded_consumption  beer_percentage  wine_percentage  \
country
Estonia                            1.1             32.7              7.4
Lithuania                          1.2             43.6              7.3
Czech Republic                     1.4             53.3             21.3
Seychelles                         1.4             68.9             22.4
Germany                            1.4             52.6             28.4
...                                ...              ...              ...
Bangladesh                         0.0              NaN              NaN
Kuwait                             0.0              NaN              NaN
Libya                              0.0              NaN              NaN
Mauritania                         0.0              NaN              NaN
Somalia                            0.0              NaN              NaN

                spirits_percentage  other_percentage  2020_projection  \
country
Estonia                       50.3               9.6             11.5
Lithuania                     37.1              12.1             14.4
Czech Republic                25.4               0.0             11.2
Seychelles                     6.3               2.5             10.4
Germany                       18.9               0.0             12.8
...                            ...               ...              ...
Bangladesh                     NaN               NaN              0.0
Kuwait                         NaN               NaN              0.0
Libya                          NaN               NaN              0.0
Mauritania                     NaN               NaN              0.0
Somalia                        NaN               NaN              0.0

                2025_projection
country
Estonia                    11.9
Lithuania                  13.9
Czech Republic             11.4
Seychelles                 10.6
Germany                    12.6
...                         ...
Bangladesh                  0.0
Kuwait                      0.0
Libya                       0.0
Mauritania                  0.0
Somalia                     0.0

[189 rows x 9 columns]

In [ ]:
data1=data.drop(["spirits_percentage","other_percentage","2020_projection","2025_projection"], axis=1,inplace=True)
#displsy
print(data)

                total_consumption  recorded_consumption  \
country
Estonia                      16.9                  15.8
Lithuania                    15.0                  13.8
Czech Republic               14.3                  12.4
Seychelles                   13.8                  12.4
Germany                      13.4                  11.3
...                           ...                   ...
Bangladesh                    0.0                   0.0
Kuwait                        0.0                   0.0
Libya                         0.0                   0.0
Mauritania                    0.0                   0.0
Somalia                       0.0                   0.0

                unrecorded_consumption  beer_percentage  wine_percentage
country
Estonia                            1.1             32.7              7.4
Lithuania                          1.2             43.6              7.3
Czech Republic                     1.4             53.3             21.3
Seychelles                         1.4             68.9             22.4
Germany                            1.4             52.6             28.4
...                                ...              ...              ...
Bangladesh                         0.0              NaN              NaN
Kuwait                             0.0              NaN              NaN
Libya                              0.0              NaN              NaN
Mauritania                         0.0              NaN              NaN
Somalia                            0.0              NaN              NaN

[189 rows x 5 columns]

In [ ]:
#get one row by loc method (location method)
data.loc[0]

country                   Estonia
total_consumption            16.9
recorded_consumption         15.8
unrecorded_consumption        1.1
beer_percentage              32.7
wine_percentage               7.4
Name: 0, dtype: object

In [ ]:
#get first 3 rows by iloc (index location) method
data.iloc[0:4]

,country,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage
0,Estonia,16.9,15.8,1.1,32.7,7.4
1,Lithuania,15.0,13.8,1.2,43.6,7.3
2,Czech Republic,14.3,12.4,1.4,53.3,21.3
3,Seychelles,13.8,12.4,1.4,68.9,22.4

In [ ]:
#Multiple parameters
# retrieving rows by loc method
rows = data.loc[["Estonia", "Lithuania"]]
  
# checking data type of rows
print(type(rows))
  
# display
rows

<class 'pandas.core.frame.DataFrame'>

,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage,spirits_percentage,other_percentage,2020_projection,2025_projection
country,,,,,,,,,
Estonia,16.9,15.8,1.1,32.7,7.4,50.3,9.6,11.5,11.9
Lithuania,15.0,13.8,1.2,43.6,7.3,37.1,12.1,14.4,13.9

In [ ]:
#get rows by loc methods
row1 = data.iloc[[4, 5, 6, 7]]

row2 = data.iloc[4:8]
print(row1)

         total_consumption  recorded_consumption  unrecorded_consumption  \
country
Germany               13.4                  11.3                     1.4
Nigeria               13.4                   9.6                     3.8
Ireland               13.0                  11.3                     1.4
Moldova               13.0                  11.5                     1.4

         beer_percentage  wine_percentage
country
Germany             52.6             28.4
Nigeria              7.9              0.4
Ireland             47.0             28.0
Moldova             35.4             44.6

In [ ]:
row2

,total_consumption,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage
country,,,,,
Germany,13.4,11.3,1.4,52.6,28.4
Nigeria,13.4,9.6,3.8,7.9,0.4
Ireland,13.0,11.3,1.4,47.0,28.0
Moldova,13.0,11.5,1.4,35.4,44.6

In [ ]:
#select two rows and three column
_1st=data.loc[["Germany","Moldova"],
              ["total_consumption","wine_percentage","beer_percentage"]]
print(_1st)

         total_consumption  wine_percentage  beer_percentage
country
Germany               13.4             28.4             52.6
Moldova               13.0             44.6             35.4

In [ ]:
#select all rows and some column
first=data.loc[:,["total_consumption","wine_percentage"]]
print(first)

                total_consumption  wine_percentage
country
Estonia                      16.9              7.4
Lithuania                    15.0              7.3
Czech Republic               14.3             21.3
Seychelles                   13.8             22.4
Germany                      13.4             28.4
...                           ...              ...
Bangladesh                    0.0              NaN
Kuwait                        0.0              NaN
Libya                         0.0              NaN
Mauritania                    0.0              NaN
Somalia                       0.0              NaN

[189 rows x 2 columns]

In [ ]:

# select all rows 
# and second to fourth column
data[data.columns[1:4]]

                recorded_consumption  unrecorded_consumption  beer_percentage
country
Estonia                         15.8                     1.1             32.7
Lithuania                       13.8                     1.2             43.6
Czech Republic                  12.4                     1.4             53.3
Seychelles                      12.4                     1.4             68.9
Germany                         11.3                     1.4             52.6
...                              ...                     ...              ...
Bangladesh                       0.0                     0.0              NaN
Kuwait                           0.0                     0.0              NaN
Libya                            0.0                     0.0              NaN
Mauritania                       0.0                     0.0              NaN
Somalia                          0.0                     0.0              NaN

[189 rows x 3 columns]

In [ ]:
#most use method to select column and rows
all=data.iloc[:2,1:5]
all

,recorded_consumption,unrecorded_consumption,beer_percentage,wine_percentage
country,,,,
Estonia,15.8,1.1,32.7,7.4
Lithuania,13.8,1.2,43.6,7.3